body {
  background-color: #dae5e2;
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
  font-family: "Ubuntu", sans-serif;
}

.squares {
  margin: 0;
  padding: 10px;
  border: 2px solid #dfe7ff;
  background: #ffffff;
  max-width: 800px;
  border-spacing: 20px;
}

ul {
  list-style: none;
}
