body {
  font-size: 15px;
  font-family: "Source Sans Pro", sans-serif;
  font-family: "Ubuntu", sans-serif;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f4ffe8;
  font-weight: bold;
  font-style: italic;
}
h2 {
  background-color: #ffe8e8;
  max-width: 130px;
}
h3 {
  background-color: #f4e8ff;
  max-width: 200px;
}

h4 {
  font-weight: bolder;
}

header {
  padding: 300px 80px;
  text-align: center;
}

.p-header {
  text-align: center;
  font-size: 18px;
}

ul {
  list-style: none;
}

li {
  display: inline;
}

.row {
  max-width: 530px;
  padding: 18px;
  display: flex;
  justify-content: space-between;
  margin: 1px;
}

button,
.form-btn {
  padding: 10px 15px;
  border: 2px solid #000000;
  background-color: white;
  margin: 30px;
}

button:hover,
.form-btn:hover {
  cursor: grab;
  background-color: black;
  color: white;
}

td {
  padding: 15px;
  text-align: left;
}

footer {
  background-color: #f4ffe8;
  padding: 20px;
}

small {
  margin: 15px;
}
